*{
	box-sizing: border-box;
}

table {
	margin: 0 auto;
}

td {
	width: 10%;
	text-align: center;
}

td {
	margin-bottom: 5px;
}

tr.header  {
	background-color: lightblue;
}

tr:nth-child(even) {
	background-color: #ebebe0;
}